{{#extend "templates/page" content=config}}
	{{#content "body:main:content" mode="replace"}}
		<div>
			<div>
				{{> 'sample-page-partials/partial-name'}}
			</div>
		</div>
	{{/content}}
{{/extend}}