{{#extend "templates/page" content=config}}
	{{#content "body:main:content" mode="replace"}}
		<div>
			<div>
				{{> 'overview-partials/partial-name'}}
				<div id="root"></div>
			</div>
		</div>
	{{/content}}
{{/extend}}